body {
  /*color: #FFFFFF;*/
  color: #545454;
  /*background-color: #282C34;*/
  /*background-color: #FFFCF4;*/
  background-color: #580874;
  /*font-family: 'IBM Plex Sans';*/
  font-family: 'Futura';
  /*font-family: 'Rubik';*/
  font-size: 48px;
  padding-left: 4em;
  padding-top: 2em;
  font-weight: 100;
}

h1 {
  font-weight: 300;
  font-size: 72px;
  /*font-family: 'IBM Plex Sans';*/
  font-family: 'Futura';
}


#main-content {
  width: 50%;
  margin-bottom: 50px;
  /*background-color: rgb(40, 44, 52, 0.7);*/
}

#background-img {
  bottom: 0;
  right: 0;
  width: 1500px;
  position: fixed;
  z-index: -5;
}

a {
  /*color: #24C1E0;*/
  color: #0047FF;
  text-decoration: none;
}


footer {
    font-size: 36px;
    left: 0
    bottom: 0;
    position: fixed;
    margin-top: 36px;
}

.fa {
  margin-right: 16px;
}


@media screen and (max-width: 1792px){
  #main-content {
    width: 60%;
  }
  body{
    font-size: 36px;
  }
}

@media screen and (max-width: 1608px){
  body {
    font-size: 32px;
  }
}

@media screen and (max-width: 1060px){
  h1 {
    font-size: 50px;
  }
  body {
    font-size: 32px;
  }
}

@media screen and (max-width: 860px){
  #main-content {
    width: 100%;
    font-size: 32px;
  }
  body {
    padding: 2em;
  }
}

@media screen and (max-width: 790px){
  #main-content {
    width: 100%;
    font-size: 30px;
  }
  body {

  }
}

@media screen and (max-width: 624px){
  h1 {
    font-size: 50px;
  }
  #main-content {
    font-size: 28px;
  }
  body{
    padding: 1.5em;
  }
}

/* If in mobile screen with maximum width 479px. The iPhone screen resolution is 320x480 px (except iPhone4, 640x960) */
@media only screen and (max-width: 570px){
  h1 {
    font-size: 50px;
  }
  #main-content {
    font-size: 24px;
  }
  body{
    padding: 1em;
  }
  #background-img {
    width: 1000px;
    position: fixed;
  }
}
